.cart-item-loader {
  flex: 1;
  height: 200px;
  margin: 10px;
  margin-inline: 0px;
  background: linear-gradient(
    90deg,
    #e0e0e0 25%,
    #f5f5f5 50%,
    #e0e0e0 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  position: relative;
  
}

.cart-item-loader::after{
  content: "";
  height: 100%;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.123);
  position: absolute;
  top: 0px;
  left: 0px;
  
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
