.cart-item-loader{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: rgb(216, 216, 216);
    animation: skeleton-animation 1s infinite ease-in-out;
}

@keyframes skeleton-animation {
    0% {
      opacity: 0.2;
    }
  
    50% {
      opacity: 0.5;
    }
  
    100% {
      opacity: 0.2;
    }
  }