#categories {
  padding: 0.8rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 0.8rem;
  margin-top: -20%;
  position: relative;
  z-index: 5;
  
}
@media only screen and (max-width: 576px) {
  #categories {
    margin-top: 0px;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    aspect-ratio: 1/2;
    gap: 0.4rem;
    padding: 0.4rem;
  }
}
@media only screen and (max-width: 768px) and (min-width:577px) {
  #categories {
    margin-top: 0px;
    grid-template-columns: 1fr 1fr;
    gap: 0.4rem;
    padding: 0.4rem;
  }
}

@media only screen and (max-width: 1080px) and (min-width: 769px) {
  #categories {
    margin-top: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.6rem;
    padding: 0.6rem;
  }
}
