#categories {
  padding: 0.8rem;
  padding-top: 2px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 1fr;
  gap: 0.8rem;
  position: relative;
  z-index: 1;
  margin-top: -20%;  
}
.category-wrapper{
  display: flex;
  flex-direction: column;
  background-color: white;
   
}
.category-wrapper header{
  padding: 1rem;
}
.category-wrapper main{
  display: flex;
  flex: 1;
}
.category-wrapper main > *{
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 1rem;
  padding-top: 0rem;
  gap: 1rem;
  position: relative;
}

.category-wrapper main section div{
 
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}
.category-wrapper main section div > section:first-child{
   background-color: rgba(243, 243, 243, 0.5);
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  padding: 1rem;
   &:hover{
    background-color: rgb(240, 240, 240);
  }
}
.category-wrapper main section div > section:last-child{
  background-color: white;
  font-size: 0.8rem;
  color: #2c2c2c;

}

.high-discount{
  background-color: #c20000;
  width: fit-content;
  padding: 0.2rem 0.3rem;
  color: white;
}
.tag{
  color:#c20000;
  font-weight: 700;
}

.category-wrapper main section .skeleton{
  background-color: whitesmoke;
}







