#stars-pic{
  font-size: inherit;
  display: flex;
  align-items: center;
  font-size: inherit;
  
  
}

#stars-pic > *:not(span){
  color: var(--primary-color);
  height: 100%;
  font-size: 1.1em;
  
}
#stars-pic span{
  font-size: 1em;
  margin-right: 0.2rem;
 
}
