.addresses{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
}
.addresses > div{
    aspect-ratio: 1/0.8;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-border);
    position: relative;
}

.addresses > div:first-child{
    font-weight: bold;
    color: rgb(75, 75, 75);
    border:2px dashed var(--primary-border);
    cursor: pointer;
}
.addresses > div:first-child span{
    font-size: 2rem;
    color: rgb(184, 184, 184);
    
}