.addresses{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,1fr));
    gap: 0.5rem;
}
.addresses > div{
    aspect-ratio: 1/0.8;
    flex-direction: column;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-border);
    position: relative;
}
.main-address-section{
    padding: 0.3rem;
    font-size: 0.8rem;
}
.default-address-section{
    border-bottom: 1px solid var(--primary-border);
    padding: 0.5rem;
    color: rgb(131, 131, 131);
    font-weight: normal;
    font-size: 0.7rem;
}

.addresses > div > .address-buttons{
    position: absolute;
    bottom: 0.3rem;
    left: 0.3rem;
    
    
}

.address-buttons button{
    text-align: center;
    background-color: transparent;
    padding: 0rem 0.2rem;
    color: var(--secondary-color);
    
    
}
.address-buttons button:hover{
    color: var(--primary-color);
    text-decoration: underline;
}
.address-buttons span{
    font-size: 0.8rem;
}

.addresses > div:first-child{
    font-weight: bold;
    color: rgb(75, 75, 75);
    border:2px dashed var(--primary-border);
    cursor: pointer;
}
.addresses > div:first-child span{
    font-size: 2rem;
    color: rgb(184, 184, 184);
    
}