#slide-show{
    background-color: transparent;
    display: flex;
    width: 100%;
    aspect-ratio: 3/1.2;
    position: relative;
    z-index: 0;
}
#slide-show::after{
    content: "";
    position: absolute;
    inset: 0;
    top: 50%;
    background: linear-gradient(transparent,var(--primary-background));
    z-index: 1;
}
.swiper-button-prev{
    height: 50%!important;
    width: 40px!important;
    top: 23px!important;
    left: 1px!important;
    z-index: 6!important;
    
}

.swiper-button-prev::after{
    font-size: 1.6rem!important;
    color: white;
}
.swiper-button-next{
    height: 50%!important;
    width: 40px!important;
    top: 23px!important;
    right: 1px!important;
}

.swiper-button-next::after{
    font-size: 1.6rem!important;
    color: white;
}
.swiper-button-prev:active,.swiper-button-next:active{
    border: 1px solid white;
    outline: 1px solid gray;
}
