#create-wishlist-modal{
    width: 100%;
    max-width: 600px;
   
    
    
}



#create-wishlist-modal main form{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 0.8rem;
    gap: 2rem;
    padding-bottom: 2rem;
    
}
#create-wishlist-modal main form input{
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid gray;
    margin: 0.35rem 0rem 0.58rem 0rem;
}

#create-wishlist-modal main form button{
    margin-right: 0.5rem;
}