.address-box{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--primary-border);
    border-radius: 0.5rem;
    position: relative;
}
.address-info header{
    border-bottom: 1px solid var(--primary-border);
    padding: 0.75rem;
}
.address-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 0.8rem;
    flex: 1;
}
.address-info section{
    padding: 0.75rem;
}

.address-buttons{
    display: flex;
    align-items: center;
}
.address-buttons button {
  text-align: center;
  background-color: transparent;
  padding: 0rem 0.2rem;
  color: var(--secondary-color);
}
.address-buttons button:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.address-buttons span {
  font-size: 0.6rem;
  color: gray;
}
