#app-navbar {
  background-color: #131921;
  display: flex;
}

#app-navbar > ul {
  flex: 1;
  display: grid;
  grid-template-columns: auto auto 1fr auto auto auto auto;
  grid-auto-rows: auto;
}

#app-navbar > ul > li:not(:last-child) {
  margin: 0.5rem;
}

#app-navbar > ul li:last-child {
  grid-row: 2;
  grid-column: 1/8;
}
#logo {
  color: white;
  width: 7rem;
}
#app-navbar a {
  display: flex;
  height: 2.5rem;
  align-items: center;
  position: relative;
  padding: 0.1rem 0.5rem;
  &:hover {
    outline: 1px solid rgba(245, 245, 245, 0.8);
  }
}
#app-navbar a#cart img {
  width: 2.5rem;
}

#app-navbar a span {
  font-size: 1.25rem;
  color: whitesmoke;
  display: flex;
  align-items: center;
}
#app-navbar a div h5 {
  color: rgb(221, 221, 221);
  font-weight: normal;
  font-size: 0.7rem;
  white-space: nowrap;
}
#app-navbar a div p {
  font-size: 0.8rem;
  white-space: nowrap;
  color: white;
}
#cart-badge {
  color: coral;
  position: absolute;
  top: 0.3rem;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  font-style: normal;
}



@media only screen and (max-width: 1024px) {
  #app-navbar > ul > li:not(:last-child) {
  margin: 0.5rem 0.25rem;
}
 #app-navbar ul li:nth-child(5) {
    display: none;
  }

  #app-navbar ul li:nth-child(7) {
    display: none;
  }
  #app-navbar a div h5{
    white-space: wrap;
  }
}
@media screen and (max-width: 767px)  {
  #app-navbar ul {
    grid-template-columns: 1fr auto auto;
    grid-auto-rows: auto;
  }
  #app-navbar ul li:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
  }

  #app-navbar ul li:nth-child(2) {
    grid-column: 1/3;
    grid-row: 4;
  }
  #app-navbar ul li:nth-child(3) {
    grid-column: 1/4;
    grid-row: 2;
  }

  #app-navbar ul li:last-child {
    grid-row: 3;
  }
  
}
