#reviews-section {
    grid-area: reviews;
}
#reviews-section h3{
    margin: 0.5rem 0rem;
}
#reviews-section .profile-section{
    display: flex;
    height: 30px;
    align-items:baseline;
}
#reviews-section .ratings{
    font-size: 0.9rem;
}
#reviews-section .profile-section .image-section{
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: rgb(221, 221, 221);
    color: rgb(255, 255, 255);
    margin-right: 0.4rem;
    overflow: hidden;
}
#reviews-section #user-name{
    font-size: 0.9rem;
}
#reviews-section .comment-box{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    border-bottom: 1px solid var(--primary-border);
    padding: 0.5rem 0rem;
}

#reviews-section #review-date{
    color:gray;
    font-size: 0.8rem;
}
#reviews-section #user-review{
    font-size: 0.9rem;
}
