#products-page {
    display: flex;
    flex-direction: column; 
    background-color: white;  
}
#products-page #products-content{
    display: flex;
    flex: 1;
}
#products-page #products-content #no-products{
    height: 100%;
}
#products-page #products-wrapper{
    flex: 4;
}
#products-page #products-count{
    padding: 0.8rem;
    border-bottom: 1px solid rgb(218, 218, 218);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    font-size: 0.9rem;
}
#products-page aside{
    flex: 1 ;
    max-width: 300px;
   
}

#products-page #products{
    display: grid;
    gap: 0.5rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit,260px);
    height: min-content;
    padding: 0.5rem;
   
}

@media screen and (min-width:768px) and (max-width:992px) 
{
    #products-page #products{
        grid-template-columns: repeat(3,minmax(0px,1fr));   
    } 
}


@media screen and (max-width:767px) {
    #products-page #products{
        grid-template-columns: repeat(2,minmax(0px,1fr));   
    } 
    #products-page aside{
        display: none;
    }
    
}
