.App{
  background-color: crimson;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main
{
  background-color: var(--primary-background);
  flex: 1; 
  display: flex;
}
main > *{
  min-height: 100%;
  width: 100%;
  background-color: white;
}

