@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Oleo+Script+Swash+Caps:wght@400;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@1,900&display=swap");
:root {
  --primary-background: #e3e6e6;
  --primary-border: #d5d9d9;

  --primary-color: #c7511f;
  --secondary-color: #007185;
}
html {
  scroll-behavior: smooth;

}
#root {
  height: 100%;
}
body {
  font-family: "Inter", sans-serif;
  background-color: var(--primary-background);
  height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.all-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  border: none;
}

button:disabled {
  cursor: not-allowed;
}

li {
  list-style: none;
  cursor: pointer;
}
img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}
.image-section {
  overflow: hidden;
}

.secondary-text-btn {
  color: var(--secondary-color);
  background-color: transparent;
}
.secondary-text-btn:hover {
  text-decoration: underline;
}
.primary-text-btn {
  color: var(--primary-color);
  background-color: transparent;
}
.primary-text-btn:hover {
  text-decoration: underline;
}
.primary-btn {
  background-color: #ffd814;
  color: black;
}
.secondary-btn{
  background-color: transparent;
  border: 1px solid black;
  color: black;
  &:hover{
    background-color: whitesmoke;
  }
}
.primary-btn.loading{
  background-color: #ffeb85;
}
.primary-btn:disabled{
  background-color: rgb(231, 231, 231);
  color: rgb(197, 197, 197);
}
.primary-btn:hover:not(:disabled) {
  background-color: #f7ca00;
}
.primary-btn:active {
  outline: 1px solid #008296;
}
a {
  text-decoration: none;
  color: black;
}
.links-buttons:hover {
  text-decoration: underline;
}

.main-logo-text{
  font-family: "Oleo Script Swash Caps", serif;
  font-weight: 700;
  color: white;
  
}



@media screen and (max-width: 576px) {
  :root {
    font-size: 14px;
  }
}
