#payment-success-page{
    flex: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#payment-success-wrapper{
    border-bottom: 1px solid green;
    padding: 15px;
    background-color: #dcffdc;
   
} 
#payment-success-wrapper h3{
    display: flex;
    align-items: center;
    color: rgb(0, 155, 0);
    gap: 0.35rem;
}
#payment-success-wrapper p{
    position: relative;
    left: 2rem;
    font-size: 0.9rem;
}
#payment-success-wrapper h3 span{
    font-size: 1.75rem;
}